# History files
.Rhistory
.Rapp.history

# R test file
simulations/testing.R

# temp files
bayesflow/temp-functions.txt

# pycache
bayesflow/__pycache__/

# pdfs
simulations/out/plots/

# RDM 
simulations/dualRDMPatterns.R
simulations/helpers_rdm.R
src/dualRDM.cpp

# data
data/

# ignore folder
bayesflow/ignore/
